body{
    background-image: url(../imgs/background-image-body.png);
    background-size: cover;
    height: 100vh;
}

.header{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
    height: 58px;
}

.header-logo{
    text-transform: uppercase;
    color: white;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
}

.header-container{
    display: flex;
    align-items: center;
}

.header-icons{
    display: flex;
    gap: 24px;
    margin-right: 20px;
}

.header-container-text{
    display: flex;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    height: 20px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.80) ;
    align-items: center;
    padding-left: 27px  ;
    gap: 3px;
}

.container-link{
    color: #FFF;
}

.hover-green:hover{
    color: darkgreen;
}

.hover-green1:hover{
    fill : darkgreen;
}

.section{
    width: 100%;
    height: calc(100% - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: white;
    width: 444px;
    height: 584px;
    box-sizing: border-box;
    padding: 28px 61px;
    position: relative;
}

.main-sign{
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
}

.main-log{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    position: absolute;
    right: 61px;
    top: 32px;
}

.main-log:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.main-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button-facebook{
    display: flex;
    box-sizing: border-box;
    background-color: #305DB8;
    width: 158px;
    height: 48px;
    color: #fff;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding-right: 22px;
    padding-left: 11px;
    border-radius: 4px;
}

.button-facebook:hover{
    background-color: #022263;
}

.button-facebook img{
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.button-google{
    display: flex;
    box-sizing: border-box;
    background-color: #DF4A32;
    width: 158px;
    height: 48px;
    color: #fff;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding-right: 22px;
    padding-left: 11px;
    border-radius: 4px;
}

.button-google img{
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.button-google:hover{
    background-color: #AB1F09;
}

.line {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 31px;
}
.line span {
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    z-index: 1;
    height: 14px;
    width: 15px;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
}
.line:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #F2F2F2;
    position: absolute;
    top: 60%;
    margin-top: -1px;
    z-index: 0;
}

.main-data{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-data-input{
    width: 324px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: 0;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
}

.main-data-input::placeholder{
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
}

.main-data-input:focus{
    fill: #FFF;
    width: 322px;
    height: 44.083px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.agreement{
    display: block;
    position: relative;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    width: 241px;
    margin-top: 12px;
    margin-left: 22px;
}

.agreement input{
    position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.agreement span{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
}

.agreement span:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.create-acc-button{
    display: flex;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    width: 324px;
    height: 46px;
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.create-acc-button:hover{
    background-color: #01813F;
}

.square{
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #3CB878;
    left: 0;
    top: 29px;
}

.checkmark {
    position: absolute;
    top: -5px;
    left: -22px;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none; 
}
  

.agreement input:checked ~ .checkmark:after {
    display: block;
}

.agreement .checkmark:after {
    content: '';
    background-image: url(../imgs/checkbox.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}